<html>

<head>
<!--<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">-->
<% exec cmd="char_set"; %>
	<title><% exec cmd="Fid_str(516)"; %></title>
	

</head>

<body>
<table width="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0">
	<tr><td><font color="#333333" FACE="Arial" size= 2>
			<font color="#333333" FACE="Arial" SIZE="5"><strong>
				<% Fid_str(523) --></strong></font><br>
			<p class="bodycopy"><font size=3><% Fid_str(524) -->
				<!--If you want to commit to using this new Configuration data, 
				go to previous page and restart your system.-->
				</p></font>
				<br></td></tr>
	<tr><td><p><br><br><br></p>
			<p align="right">
				<a href="index.stm"><img src="/images/finish1.gif" border=0  target="_parent"></a></p>
		</td></tr>
	</table></td></tr>

</body>
</html>
