<html><head>
<% char_set(); %>
<title></title>
<style type=text/css>
.bigText {
    BACKGROUND: #ffffff; COLOR: #ff0000;
    FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 18px;
}
.actButton {
    BACKGROUND-COLOR: gainsboro; COLOR: #555555;
    FONT-WEIGHT: 600; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial;
    WIDTH:70px; HEIGHT:25px;
}
</style>
<script language="JavaScript">
	if (parent.location.href != window.location.href)
	parent.location.href = window.location.href;
</script>
</head>
<body bgcolor="#ffffff" >
<center>
<h1 class=bigText><% Fid_str(40) --><br><br>
    <% Fid_str(41) --></h1>
</center>
</body>
</html>
